#eclipse files
.project
.settings

# temp files
.DS_Store
Thumbs.db
Desktop.ini

# Node
node_modules/*
!node_modules/melonJS
npm-debug.log

# Temp files
/lib/kew.js

# Grunt
.grunt
dist

# Others
.c9
.dropbox.attr
peerJSAPIKey.txt
